# don't delete this line.
% start TOP

TOP -> S

### TODO: Add your rules here
S -> NP VP FS | NP VP CC VP PP NP FS | NNS VP FS | VP PP FS | NP VP PP FS | VP NP FS | NP AP FS | VP NP PP FS | VP PP NP FS | PP NP VP FS | NP PP NP VP FS | NP VP NP VP NP FS | NP VP NP FS | NP VP PP NP FS | CC NP VP NP FS | NP VP PP NP FS | VP PP NP PP NP FS | PP NP VP PP AP NP FS | NP VP PP NP FS | NP VP NP PP NP FS | NP VP PP NP FS
NP -> DT NN | DT NNS | NN | NNS | DT AP NOM | PRP | DT NOM | AP NN | NNPS | NN CC NN | NOM | NNS CC NNS | PRP POS | NNP NNP | PRPX NNS | PRPX NOM | NOM POS NN | AP NP | PRPX JJ NN | NN POS NNS | DT CD NOM | NOM COMMA NOM | DT NN POS NN
VP -> VB | PRP VBD | VBD | VBG | VBZ | VBN | VBP | PRP VBD RB | VBD RB VB | VB NP PP | TO VB | VBD VP | VBD RB VP | DT VP | PRP VBP | PRP VBZ | VBZ JJ NNS | VBD JJ | EX VP | VBZ VBN VBN | VP AP | VP IN | VBD PP NOM | PRP VBD | VBD VBN VBD | MD VB | VBD RB
PP -> TO | IN | PRPX | TO PRPX | IN PRP | VP IN | IN NP | PP RB | DT NN IN | CC NP IN | IN DT
#NP -> PRPX | NNP | DT NOM | NP PP | DT NN
NOM -> NN | NOM NN | NOM NNS | NNP | NOM NNP | NOM CC NOM | NNS | NNPS | NOM NNPS
NNPS -> NNP | NNPS NNP
AP -> JJ | AP JJ | RB JJ | JJ CC AP | CD PP CD
#PP -> TO NP
#VP -> VB | VB NP | VB NP PP | VB PP | VBD | VBG | VBN | VBP


# lexicon
COMMA ->  ","
FS ->  "."
CC ->  "And" |  "But" |  "and" | "but"
CD ->  "1929" |  "66.5" |  "69"
DT ->  "All" |  "No" |  "The" |  "a" |  "no" |  "the"
EX ->  "There"
IN ->  "after" |  "by" |  "for" |  "from" |  "in" |  "into" |  "of" |  "on" |  "that" | "despite"
JJ ->  "crude" |  "different" |  "funny" |  "high-priced" |  "imaginative" |  "immediate" |  "many" |  "moderate" |  "nervous" |  "new" |  "worst-case" | "political" | "overwhelming"
MD ->  "can"
NN ->  "Champagne" |  "Factory" |  "PC" |  "Stock" |  "asbestos" |  "bearing" |  "breakdown" |  "business" |  "crash" |  "dessert" |  "face" |  "field" |  "force" |  "lion" |  "nose" |  "oblivion" |  "pioneer" |  "predecessor" |  "pressure" |  "price" |  "production" |  "rest" |  "scenario" |  "share" |  "today" |  "work" |   "trading" | "president"
NNP ->  "Baltimore" |  "Barnum" |  "Courter" |  "Cray" |  "Dugdale" |  "Esso" |  "France" |  "Hong" |  "Kong" |  "Korea" |  "Learning" |  "Mr." |  "Research" |  "September" |  "South" |  "Tuesday" |  "VanSant" |  "Viacom" |  "Whiting"
NNPS ->  "Materials"
NNS ->  "Pressures" |  "Terms" |  "banks" |  "bottles" |  "computers" |  "concerns" |  "contributors" |  "investors" |  "payrolls" |  "prices" |  "products" |  "shares" |  "ships" |  "standards" |  "subskills" |  "tactics"
POS ->  "'s"
PRP ->  "It" |  "They" |  "it"
PRPX ->  "Her" |  "our"
RB ->  "fractionally" |  "n't" |  "now" |  "often"
TO ->  "to"
VB ->  "boast" |  "build" | "agree"
VBD ->  "began" |  "called" |  "came" |  "fell" |  "followed" |  "had" |  "matched" |  "rose" |  "said" |  "started" |  "suffered" |  "went" |  "were" | "understood" | "did"
VBG ->   "using"
VBN ->  "been" |  "disclosed" |  "handled" |  "set"
VBP ->  "operate"
VBZ ->  "'s" |  "denies" |  "grows" |  "has" |  "is"